.personal-account_form {
  width: 450px;

  &-topic > h3 {
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin: 40px 0 20px 0;

    &:first-child {
      margin: 0 0 20px 0;
    }
  }

  &-topic {
    &:not(:first-child) {
      margin: 40px 0 0 0;
    }

    & > input:not(:last-child) {
      width: 100%;
      margin: 0 0 15px 0;
    }
  }

  input[type="date"] {
    background-color: transparent;
  }

  .site-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      svg {
        path {
          stroke: white;
        }
      }
    }

    svg {
      width: 18px;
      height: auto;
      margin-right: 10px;
    }
  }

  &-item {
    position: relative;

    input {
      margin-bottom: 15px;
    }

    .personal-account_form-edit {
      position: absolute;
      z-index: 2;
      right: 15px;
      top: 10px;
      width: 22px;
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &-mobActions {
    display: flex;
    flex-direction: column;
    margin: -6px -6px 34px -6px;
    width: 100%;

    button {
      margin: 6px;
    }
  }

  &-date {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 2px solid #e7e7e8;
    color: #babcbf;
    cursor: pointer;

    &.active {
      color: #222;
      border-color: #222;

      svg {
        path {
          stroke: #222;
        }
      }
    }

    &_value {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::after {
        content: '';
        position: absolute;
        top: 0; 
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    svg {
      path {
        stroke: #babcbf;
      }
    }

    .rdrCalendarWrapper {
      display: none;
      position: absolute;
      top: calc(100% + 16px);
      left: 0;
      z-index: 3;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

      &.active {
        display: inline-flex;
      }
    }

    .rdrDateDisplayWrapper {
      display: none;
    }

    .rdrMonthAndYearWrapper {
      padding-top: 0;
      height: 40px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .rdrWeekDay {
      display: flex;
      justify-content: center;
    }

    .rdrMonth {
      padding: 0;
    }

    .rdrDefinedRangesWrapper {
      display: none;
    }

    .rdrDayToday .rdrDayNumber span:after {
      content: none;
    }

    .rdrStartEdge,
    .rdrEndEdge,
    .rdrSelected {
      height: 100%;
      background: #222222;
      border-radius: 0 !important;
      margin: 0;
      left: 0 !important;
      right: 0 !important;

      span {
        color: white !important;

        &::after {
          content: none;
        }
      }
    }

    .rdrSelected {
      top: 5px;
    }

    .rdrInRange {
      background: #e7e7e8;
      height: 100%;
      margin: 0;
      border-radius: 0 !important;
      left: 0 !important;
      right: 0 !important;
    }

    .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span {
      color: #222;
    }

    .rdrDayNumber {
      height: 100%;

      &::after {
        content: none !important;
      }
    }

    .rdrDayStartPreview,
    .rdrDayEndPreview,
    .rdrDayInPreview {
      height: 100%;
      top: 5px;
      border-radius: 0 !important;
      margin: 0;
      z-index: 0;
      border: 0;
    }

    .rdrDayStartPreview,
    .rdrDayEndPreview {
      background: #222;

      // span {
      //     color: white !important;
      // }
    }

    .rdrDayInPreview {
      background: #e7e7e8;

      &.rdrDayHovered {
        span {
          color: white !important;
        }
      }
    }

    .rdrDayHovered {
      span {
        color: white !important;
      }
    }

    .rdrNextPrevButton {
      background: transparent;

      i {
        opacity: 0;
      }

      &.rdrNextButton {
        background-image: url("../../../../images/personal-account/fines/arrow.svg");
        background-size: 16px 16px;
        background-position: center center;
        transform: rotate(180deg);
      }

      &.rdrPprevButton {
        background-image: url("../../../../images/personal-account/fines/arrow.svg");
        background-size: 16px 16px;
        background-position: center center;
      }
    }
  }
}

@media (max-width: 1024px) {
  .personal-account_form {
    width: 100%;

    &-topic > h3 {
      margin: 40px 0 8px 0;
      font-size: 14px;

      &:first-child {
        margin: 40px 0 8px 0;
      }
    }
    &-topic {
      margin: 40px 0 0 0;

      & > input:not(:last-child) {
        margin: 0 0 12px 0;
      }
    }
  }
}
